@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";
@import "partials/shapes";

%clearfix{
  &:before{
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

* {
@include box-sizing;
}
html {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
  @extend %clearfix;
  @include xs-screens-only {
    width: auto;
  }
  @include sm-screens-only {
    width: $container-sm-width;
  }
  @include md-screens-only {
    width: $container-md-width;
  }
 @include lg-screens-only {
    width: $container-lg-width;
  }
}
.container-fluid {
  padding:0px 15px;
  margin: 0px auto;
}
.row {
@extend %clearfix;
  margin-left: ($gutter / -2);
  margin-right: ($gutter/ -2);
}

[class^='col-'] {
  width:100%;
  position: relative;
  float: left;
  padding-right: ($gutter/2);
  padding-left: ($gutter/2);
  min-height: 1px;
  @include box-sizing;
}

[class^='col-offset-'] {
  margin-left: col-width();
}


@include xs-screens-only {
  @for $i from 1 to ($columns + 1) {
    .col-xs-#{$i} {
      width: col-width($column-span: $i);
    }
    .col-xs-offset-#{$i} {
      margin-left: col-offset($column-span: $i);
    }
}
}
@include sm-screens {
  @for $i from 1 to ($columns + 1) {
    .col-sm-#{$i} {
      width: col-width($column-span: $i);
    }
  }
}
@include sm-screens-only {
  @for $i from 1 to ($columns + 1) {
    .col-sm-offset-#{$i} {
      margin-left: col-offset($column-span: $i);
    }
}
}
@include md-screens {
  @for $i from 1 to ($columns + 1) {
    .col-md-#{$i} {
      width: col-width($column-span: $i);
    }
  }
}
@include md-screens-only {
  @for $i from 1 to ($columns + 1) {
    .col-md-offset-#{$i} {
      margin-left: col-offset($column-span: $i);
    }
}
}
@include lg-screens-only {
  @for $i from 1 to ($columns + 1) {
    .col-lg-#{$i} {
      width: col-width($column-span: $i);
    }
    .col-lg-offset-#{$i} {
      margin-left: col-offset($column-span: $i);
    }
  }
}

@if $test == 1 {
	//Usage:
	.parallelogram {
		@include parallelogram(100px, 70px, 10deg, red );
	}
	.oval {
		@include oval(100px, 100px, green);
	}
	.up-triangle {
		@include triangle(up, 60px, blue );
	}
	.down-triangle {
		@include triangle(down, 60px, red );
	}
	.left-triangle {
		@include triangle(left, 60px, green );
	}
	.right-triangle {
		@include triangle(right, 60px, blue );
	}
	.top-left-triangle {
		@include corner-triangle(top-left, 120px, 120px, red );
	}
	.top-right-triangle {
		@include corner-triangle(top-right, 120px, 120px, green );
	}
	.bottom-left-triangle {
		@include corner-triangle(bottom-left, 120px, 120px, blue );
	}
	.bottom-right-triangle {
		@include corner-triangle(bottom-right, 120px, 120px, red );
	}
	.trapezoid {
		@include trapezoid(80px, green );
	}
	.chevron {
		@include chevron(down, 120px, 50px, 15deg, blue );
	}
	.hexagon {
		@include hexagon(30px, 62px, red);
	}
}